<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        {{title}}
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <agm-map #map
      [zoom] = "12"
      [class.col-md-7] = "placeClicked"
      [class.col-md-12] = "!placeClicked"
      [latitude]="lat" [longitude]="lng">
        <agm-marker
          *ngFor="let place of nearbyPlaces; let i = index"
          [latitude]="place.lat" [longitude]="place.lng"
          [title]="place.title"
          (markerClick)="onClicked($event, i)">
        </agm-marker>
        <agm-marker [latitude]="lat" [longitude]="lng" markerClickable="false"></agm-marker>
    </agm-map>
    <div class="col-md-5">
      <ul class="nav nav-tabs">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link"
            [routerLink]="['#/review/:id', { id: place.id }]">
          Reviews
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"
            [routerLink]="['#/review/:id/add', { id: place.id }]">
              Write your own
          </a>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
